@font-face {
    font-family:"Graphik LCG";
    src: url("../fonts/GraphikLCG-Regular.eot");
    src: url("../fonts/GraphikLCG-Regular.svg");
    src: url("../fonts/GraphikLCG-Regular.ttf");
    src: url("../fonts/GraphikLCG-Regular.woff");
    src: url("../fonts/GraphikLCG-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:"Graphik LCG";
    src: url("../fonts/GraphikLCG-Semibold.eot");
    src: url("../fonts/GraphikLCG-Semibold.svg");
    src: url("../fonts/GraphikLCG-Semibold.ttf");
    src: url("../fonts/GraphikLCG-Semibold.woff");
    src: url("../fonts/GraphikLCG-Semibold.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


